<div *ngIf="loaded | async" class="w-full max-w-xs mx-auto flex flex-col items-center" xmlns="http://www.w3.org/1999/html">
  <h2 class="text-2xl font-bold tracking-wide text-center">Scheduled Task Editor</h2>
<form [formGroup]="taskForm"  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <div class="mb-4">
    <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title: </label>
    <input id="title" type="text" formControlName="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
  </div>
  <div class="mb-4">
    <label for="desc" class="block text-gray-700 text-sm font-bold mb-2">Description: </label>
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="description" id="desc"></textarea>
  </div>
  <div class="mb-4">
    <label for="due" class="block text-gray-700 text-sm font-bold mb-2"> Start: </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="start" type="datetime-local" id="due"/>
  </div>
  <div class="mb-4">
    <label for="repetitions" class="block text-gray-700 text-sm font-bold mb-2">Repetitions: </label>
    <input id="repetitions" type="number" formControlName="repetitions" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [min]="min" [max]="max">
  </div>
  <label  class="block text-gray-700 text-sm font-bold mb-2  mt-8"> Recurrence: </label>
  <div *ngIf="task" class="grid grid-cols-3 items-top my-auto">
    <div>
      <div class="flex items-center mb-4" *ngFor="let rec of recurrences; let i = index">
        <input id="recurrence-radio-{{i}}" type="radio" formControlName="recurrence" [value]="rec" name="recurrence" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" (change)="onChangeRecurrence(rec)" >
        <label for="recurrence-radio-{{i}}" class="ml-2 text-sm font-medium text-gray-900">{{rec.toString()}}</label>
      </div>
    </div>
    <div class="col-span-2">
      <div *ngIf="recurrence== recurrences[0]" class=" items-center mb-4">
        <input id="radio-{{recurrences[0]}}-1" type="radio" name="specialLength" [value]="null" formControlName="specialLength" class="w-4 mb-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" [checked]="taskForm.controls['length'].value != null">
        <label for="radio-{{recurrences[0]}}-1" class="ml-2 tex-sm font-medium text-gray-900"> Every <input type="number" formControlName="length"  id="daily-number" class="text-center bg-gray-200" style="width: 2em;"/> Day(s) </label> <br>
        <input id="radio-{{recurrences[0]}}-2" type="radio" formControlName="specialLength" name="specialLength" value="WORKDAILY" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="radio-{{recurrences[0]}}-2" class="ml-2 text-sm font-medium text-gray-900"> Workdaily </label>
      </div>
      <div *ngIf="recurrence==recurrences[1]">
        <label class="ml-2 text-sm font-medium text-gray-900"> Every <input type="number" formControlName="length"  class="text-center bg-gray-200" id="weekly-number" min="1" max="99" style="width: 2em;"/> Week(s) </label> <br>
        <label class="block text-left mt-4" style="max-width: 300px" >
          <span class="text-gray-900">On</span>
          <select multiple class="form-multiselect block w-full mt-1" formControlName="weekday">
              <option *ngFor="let weekday of weekdays | keyvalue" class="text-gray-900" [ngValue]="weekday.key">{{weekday.value}}</option>
          </select>
        </label>
      </div>
      <div *ngIf="recurrence==recurrences[2]">
        <label class="ml-2 text-sm font-medium text-gray-900"> Every <input type="number" class="text-center bg-gray-200" formControlName="length" id="monthly-number" min="1" max="99" style="width: 2em;"/> Month(s) </label> <br>

        <input formControlName="selection" [value]="true" type="radio" class="w-4 mt-6 mb-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" (change)="resetSelectionWeak()">
        <label class="ml-2 text-sm font-medium text-gray-900"> On the <input *ngIf="taskForm.controls['selection'].value" type="number" formControlName="day"  class="text-center bg-gray-200" id="monthly-day" min="1" max="31" style="width: 2em;"/> Day </label> <br>
        <input formControlName="selection" [value]="false" type="radio" class="w-4 mt-4 mb-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" (change)="resetSelectionWeak()">

        <select formControlName="specialLength" style="width: 6em;" class="ml-2 text-black">
          <option [ngValue]="null" disabled>On the</option>
          <option *ngFor="let special of specialLengths" class="text-gray-900" [ngValue]="special" [disabled]="taskForm.controls['selection'].value">{{special}}</option>
        </select>
        <select formControlName="weekday" style="width: 6em;" class="ml-6 text-black">
          <option disabled [ngValue]="null">Weekday</option>
          <option *ngFor="let weekday of weekdays | keyvalue" class="text-gray-900" [ngValue]="weekday.key" [disabled]="taskForm.controls['selection'].value">{{weekday.value}}</option>
        </select>
      </div>
      <div *ngIf="recurrence==recurrences[3]">
        <label class="ml-2 text-sm font-medium text-gray-900"> Every
        <select formControlName="month" style="width: 7em" class="ml-2 text-black">
          <option disabled selected [ngValue]="null">Month</option>
          <option *ngFor="let month of months let i = index" class="text-gray-900" [ngValue]="months[i]">{{month}}</option>
        </select>
        </label> <br>

        <input formControlName="selection"  [value]="true" type="radio" class="w-4 mt-6 mb-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" (change)="resetSelectionWeak()">
        <label class="ml-2 text-sm font-medium text-gray-900"> On the <input *ngIf="taskForm.controls['selection'].value" type="number" formControlName="day"  class="text-center bg-gray-200" id="yearly-day" min="1" max="31" style="width: 2em;"/> Day </label> <br>

        <input formControlName="selection" [value]="false" type="radio" class="w-4 mb-4 h-4 mt-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" (change)="resetSelectionWeak()">
        <select formControlName="specialLength" style="width: 6em;" class="ml-2 text-black" >
          <option disabled selected [ngValue]="null">On the</option>
          <option *ngFor="let special of specialLengths" class="text-gray-900" [ngValue]="special" [disabled]="taskForm.controls['selection'].value">{{special}}</option>
        </select>
        <select formControlName="weekday" style="width: 6em;" class="ml-6 text-black">
          <option disabled [ngValue]="null">Weekday</option>
          <option *ngFor="let weekday of weekdays | keyvalue" class="text-gray-900" [ngValue]="weekday.key" [disabled]="taskForm.controls['selection'].value">{{weekday.value}}</option>
        </select>
      </div>
    </div>
  </div>
  <div formArrayName="people" class="mt-8">
    <label class="block text-gray-700 text-sm font-bold mb-2">People: </label>
    <div *ngFor="let resp of people.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="flex items-center border-b border-teal-500 py-2">
          <input type="text" placeholder="name" formControlName="name" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
          <input type="text" placeholder="email" formControlName="email" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
          <button class="flex-shrink-0 border-transparent border-4 text-red-500 hover:text-red-800 text-sm py-1 px-2 rounded" (click)="removeResponsibility(resp.value, i)">
            Delete
          </button>
        </div>
      </ng-container>
    </div>
    <div class="flex flex-col items-center mt-6">
      <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" (click)="addResponsibility()">
        Add
      </button>
      <button (click)="onSubmit()" [disabled]="!taskForm.valid" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-6 rounded-full relative">Submit!</button>
    </div>
    <div *ngIf="!taskForm.valid" class="mt-4 bg-red-100 border border-red-400 text-red-700 px-1 py-1 rounded relative" role="alert">
      Some parts of the form are invalid or missing!
    </div>
  </div>
</form>
</div>
